<!-- Header -->
<header>
    <div class="nav-container">
        <div class="left-side">
            <button class="menu-toggle" aria-label="Toggle menu">
                <span class="menu-icon"></span>
                <span class="menu-icon"></span>
                <span class="menu-icon"></span>
            </button>
            <h1><a href="/" class="text-white">Saphia Farrag</a></h1>
            <ul class="menu">
                <li><a href="#home">Featured</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
        <div class="right-side">
            <button id="wallet-connect" type="button" class="btn btn-outline-light">Connect Wallet</button>
        </div>
    </div>
</header>
